body {
    height: 100vh;
    background-color: #eef1f6;
    overflow: hidden;
}

caption {
    caption-side: top;
    color: #111;
}

.content {
    display: flex;
}

    .content .aside-nav {
        flex: 1;
        background-color: #384451;
        height: 100vh;
    }

        .content .aside-nav a {
            color: aliceblue;
            padding-left: 2rem;
        }

            .content .aside-nav a:hover,
            .content .aside-nav .active {
                background-color: #44525f;
            }

    .content main {
        flex: 9;
        box-sizing: border-box;
        background-color: #eef1f6;
        padding: 1rem 1.5rem;
    }

        .content main table,
        .table thead th {
            border-width: 1px;
            border-color: #c0c4c9 !important;
        }
